! X configs (mostly URxvt and Xterm)

!:: Configure URxvt
URxvt*termName: xterm-256color

!:: Font
urxvt.font:                 xft: Terminus:size=10
urxvt.boldFont:             xft: Terminus:size=10

urxvt.scrollBar:        false
urxvt.internalBorder:   16

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

urxvt.pointerColor:     black
urxvt.pointerColor2:    #d9d9d9

! stuff
*.background: #1f1f1f
*.foreground: #c0b18b
*.cursorColor:#c0b18b
*.colorBD:    #c0b18b
*.colorUL:    #c0b18b
*.colorIT:    #c0b18b
