! X configs (mostly URxvt and Xterm)
! ~/.Xdefaults

!:: Major X settings
Xft.dpi:        95
Xft.antialias:  true
Xft.rgba:       rgb

!:: Configure URxvt
URxvt*termName: xterm-256color

!:: Font
urxvt.font:                 xft: Terminus:size=10
urxvt.boldFont:             xft: Terminus:size=10

urxvt.scrollBar:        false
urxvt.internalBorder:   5

! Clickable Urls
urxvt.perl-ext: default,matcher,vtwheel
urxvt.url-launcher:     /usr/bin/chrome
urxvt.matcher.button:  1

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

urxvt.pointerColor:     black
urxvt.pointerColor2:    #d9d9d9


! molokai scheme
*foreground: #D0D0D0
*background: #1c1c1c

! blacks
*color0:     #2e3436
*color8:     #555753

! reds
*color1:     #bf3f3f
*color9:     #cd0000

! greens
*color2:    #afff00
*color10:    #afff00

! yellows
*color3:     #ffff87
*color11:    #ff8700

! blues
*color4:     #AF87FF
*color12:    #AF87FF

! magentas
*color5:    #ff005f
*color13:    #af005f

! cyans
*color6:     #06989a
*color14:    #66d9ef

*color7:     #e5e5e5
*color15:    #e5e5e5
