"*":
  welcome:
    showOnStartup: false
  core:
    destroyEmptyPanes: false
    themes: [
      "atom-material-ui"
      "duotone-dark-forest-syntax"
    ]
    excludeVcsIgnoredPaths: false
    autoHideMenuBar: true
  editor:
    invisibles: {}
    softTabs: false
    tabLength: 4
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
    showInvisibles: true
    fontFamily: "Fira Mono"
    fontSize: 18
  linter:
    lintOnChangeInterval: 500
    showInfoMessages: true
    statusBar: "Show error of the selected line"
    lintOnChange: true
    errorPanelHeight: 51
  "linter-eslint":
    lintOnEdit: true
    disableWhenNoEslintrcFileInPath: true
  tabs:
    showIcons: true
    usePreviewTabs: true
  "atom-material-ui":
    ui:
      slimScrollbar: true
      accentColor: "Green"
    tabs:
      rippleAccentColor: true
    fonts:
      fontSize: "Huge"
    panels:
      panelContrast: true
  "file-icons":
    onChanges: true
  "autocomplete-plus":
    confirmCompletion: "tab"
    autoActivationDelay: 300
  "tree-view":
    hideIgnoredNames: true
  minimap:
    plugins:
      cursorline: true
  typewriter: {}
  "exception-reporting":
    userId: "5a19b382-c6a5-aa48-1196-c14d21ec5096"
"source.gfm":
  editor:
    softWrap: true
